<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  Sie wurden in ein Visbo Projekt eingeladen
</h1>
<p>
  <%if (userFrom.profile && userFrom.profile.firstName ) { %>
    <%= userFrom.profile.firstName %>
  <% } %>
  <%if (userFrom.profile && userFrom.profile.lastName ) { %>
    <%= userFrom.profile.lastName %>
  <% } %>
  (<%= userFrom.email %>) hat Sie in das Visbo Projekt: <b><%= vp.name %></b> mit <%= vp.vpvCount %> Versionen eingeladen.
</p>
<p>
  Nachricht: <br>
  <h5>
    <%- message.replace(/\n/g, '<br/>')  %>
  </h5>
</p>
<h4>
  Bitte melden Sie sich bei Visbo an
</h4>
<p>
  Um auf das Visbo Projekt zuzugreifen, folgen Sie dem Link: <a href="<%= url %>">Anmeldung Visbo</a>
</p>
<p>
  Benutzen Sie Ihre e-Mail Adresse <%= userTo.email %> für die Anmeldung.
</p>
<footer>
    <% include partials/footer %>
</footer>
