<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  Ihr Passwort wurde geändert!
</h1>
<p>
 Ihr Passwort für den Benutzer <b><%= userTo.email %></b> wurde geändert.<br>
 Bite prüfen Sie die folgenden Informationen, um zu prüfen, ob Sie dies selbst durchgeführt haben.
</p>
<p><b>
  Änderung am: <%= info.changedAt.getDate() %>.<%= info.changedAt.getMonth()+1 %>.<%= info.changedAt.getFullYear() %> <%= info.changedAt.toLocaleTimeString() %><br>
  IP: <%= info.ip %><br>
  Anwendung: <%= info.userAgent %><br>
</b></p>
<h4>
  Wenn Sie die Änderung nicht selbst gemacht haben, folgen Sie bitte diesen Schritten:
</h4>
<p>
  1. Setzen Sie ihr Passwort über folgenden Link zurück: <b><a href="<%= url %>">Reset Password</a></b><br>
  2. Prüfen Sie ihr Endgerät auf Viren
</p>

<p>
  Ihre e-Mail Adresse <%= userTo.email %> für die Passwortänderung.
</p>
<footer>
    <% include partials/footer %>
</footer>
