<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  Ihre Benutzerkennung ist gesperrt bis <%= info.lockedUntil %>!
</h1>
<p>
 Es sind zu viele Versuche mit einem falschen Passwort bei der Anmeldung mit ihrer Benutzerkennung <b><%= userTo.email %></b> passiert.<br>
 Ihre Benutzerkennung wird automatisch entsperrt nach <%= info.lockedUntil %>.
 Bitte prüfen Sie, ob Sie das selbst verursacht haben.
</p>
<p><b>
  Anmeldung um: <%= info.changedAt %><br>
  IP: <%= info.ip %><br>
  Anwendung: <%= info.userAgent %><br>
</b></p>
<h4>
  Wenn Sie das nicht selbst gemacht haben, bitte melden Sie sich bei unserem Support.
</h4>

<p>
  Ihre e-Mail Adresse <%= userTo.email %> ist duch die Sperre betroffen.
</p>
<footer>
    <% include partials/footer %>
</footer>
