<head>
    <% include ../emailTemplates/partials/head %>
</head>
<header>
    <% include ../emailTemplates/partials/header %>
</header>
<h1>
  You have been invited to a Visbo Center
</h1>
<p>
  <%if (userFrom.profile && userFrom.profile.firstName ) { %>
    <%= userFrom.profile.firstName %>
  <% } %>
  <%if (userFrom.profile && userFrom.profile.lastName ) { %>
    <%= userFrom.profile.lastName %>
  <% } %>
  (<%= userFrom.email %>) has invited you to Visbo Center: <b><%= vc.name %></b> with <%= vc.vpCount %> Projects
</p>
<p>
  Message: <br>
  <h5>
    <%- message.replace(/\n/g, '<br/>')  %>
  </h5>
</p>
<h4>
  To access the Visbo Center follow this link: <a href="<%= url %>">Login Visbo</a>
</h4>
<p>
  Your e-Mail address <%= userTo.email %> was used for the invitation.
</p>
<footer>
    <% include ../emailTemplates/partials/footer %>
</footer>
