<h1>
  You have been invited to a Visbo Center
</h1>
<p>
  <%if (userFrom.profile && userFrom.profile.firstname ) { %>
    <%= userFrom.profile.firstName %>
  <% } %>
  <%if (userFrom.profile && userFrom.profile.lastname ) { %>
    <%= userFrom.profile.lastname %>
  <% } %>
  (<%= userFrom.email %>) has invited you to Visbo Center: <b><%= vc.name %></b> with <%= vc.vpCount %> Projects
</p>
<p>
  Message: <br> <i> <%= message %> </i>
</p>
<h3>
  To access the Visbo Center you have to register first by following this link: <a href="<%= url %>">Register</a>
</h3>
<p>
  Your e-Mail address <%= userTo.email %> was used for the invitation.
</p>
