<h1>
  You have been invited to a Visbo Project
</h1>
<h3>
  <%= user.profile.firstName %> <%= user.profile.firstName %> (<%= user.email %>) has invited you to Visbo Project: <%= vc.name %>
</h3>
<p>
  To access the Visbo Project follow this link: <a href="<%= url %>">Login Visbo</a>
</p>
