<head>
    <% include('partials/head') %>
</head>
<header>
    <% include('partials/header') %>
</header>
<h1>
  You have been invited to a Visbo Project
</h1>
<p>
  <%if (userFrom.profile && userFrom.profile.firstName ) { %>
    <%= userFrom.profile.firstName %>
  <% } %>
  <%if (userFrom.profile && userFrom.profile.lastName ) { %>
    <%= userFrom.profile.lastName %>
  <% } %>
  (<%= userFrom.email %>) has invited you to Visbo Project: <b><%= vp.name %></b>
</p>
<p>
  Message: <br>
</p>
<h4>
  <%- message.replace(/\n/g, '<br/>')  %>
</h4>
<br>
<p>
  To access the Visbo Project follow this link: <b><a href="<%= url %>">Login Visbo</a></b>
</p>
<p>
  Your e-Mail address <%= userTo.email %> was used for the invitation.
</p>
<footer>
    <% include('partials/footer') %>
</footer>
