<head>
    <% include('partials/head') %>
</head>
<header>
    <% include('partials/header') %>
</header>
<h1>
  Your account is locked until <%= info.lockedUntil %>!
</h1>
<p>
 Too many password retries on your account <b><%= userTo.email %></b> have happened.<br>
 Your account will automatically be unlocked after <%= info.lockedUntil %>.
 Please verify if you have done this on your own.
</p>
<p><b>
  Login at: <%= info.changedAt %><br>
  IP: <%= info.ip %><br>
  Browser: <%= info.userAgent %><br>
</b></p>
<h4>
  If you have not tried to login yourself, please contact support.
</h4>

<p>
  Your e-Mail address <%= userTo.email %> related to the password change.
</p>
<footer>
    <% include('partials/footer') %>
</footer>
