<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  Your password has changed!
</h1>
<p>
 Your password for the Account <b><%= userTo.email %></b> was changed.<br>
 Please check the following details, to verify that you have done this change on your own.
</p>
<p><b>
  Changed at: <%= info.changedAt.getDate() %>.<%= info.changedAt.getMonth()+1 %>.<%= info.changedAt.getFullYear() %> <%= info.changedAt.toLocaleTimeString() %><br>
  IP: <%= info.ip %><br>
  Browser: <%= info.userAgent %><br>
</b></p>
<h4>
  If you have not done the change yourself, please follow the steps:
</h4>
<p>
  1. Reset your password by following this link: <a href="<%= url %>">Reset Password</a><br>
  2. Check your local PC for Virus
</p>

<p>
  Your e-Mail address <%= userTo.email %> related to the password change.
</p>
<footer>
    <% include partials/footer %>
</footer>
